.bg-image {
    position: absolute;
    background: black url("https://images.pexels.com/photos/1329061/pexels-photo-1329061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    filter: brightness(100%);
    z-index: -1;
}

.navbar{
    background: #191919;
    border-bottom: #FDB302 4px solid;
}
.nav-item{
    margin: 0;
}

.nav-item:hover{
    border-bottom: orangered 2px solid;
}

body{
    font-family: 'Montserrat';
    margin: 0; 
}    


.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


section{
    height: 100vh;
}
.potensi-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-landing{ 

}
ul {
    list-style-type: none;
}

li{
      margin-top: 10px;
}
.contact-info{
    padding-left: 0;
}

.contacts-info-title{
    color: white
}
footer{
    background: #191919;
    color: #828282;
    padding-top: 40px;
    line-height: 1.5em;
}

.footer-section{
    margin-top: 10px;
    padding-left: 55px;
    padding-right:55px;
}
#footer-section-about{
    line-height: 2em;
}
.footer-section-h5{
    color: #76ff03;
    margin-bottom: 1rem;
    
}

#footer-bottom{
    margin-top: 20px;
    background: #252525;
    padding: 1em 1em 0.5em 1em;
    font-size: 75%;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: orangered; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: red; 
  }

@media(max-width: 576px){
  .footer-section{
    margin-top: 10px;
    padding-left: 40px;
    padding-right:40px;
  }  
}